.header {
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
}

.logo {
    width: 10%;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.nav button {
    background-color: black;
    color: white;
    width: 150px;
    cursor: pointer;
}